<div class="main-container">

  <h1>About GH - Explorer</h1>

  <br/>

  <mat-divider></mat-divider>

  <br/>

  <p>This App was created during the Mashup-Project in M 151.</p>

  <br />

  <p>I made use of the following API's, technologies and libraries:</p>

  <mat-list>
   <mat-list-item><a href="https://angular.io/" target="_blank">Angular</a></mat-list-item>
   <mat-list-item><a href="https://material.angular.io/" target="_blank">Material</a></mat-list-item>
   <mat-list-item><a href="https://firebase.google.com/" target="_blank">Firebase</a></mat-list-item>
   <mat-list-item><a href="https://github.com/angular/angularfire2" target="_blank">Angular-Firebase library</a></mat-list-item>
   <mat-list-item><a href="https://githubtrendingapi.docs.apiary.io/#" target="_blank">GitHub Trending API</a></mat-list-item>
  </mat-list>

<br />

<mat-divider></mat-divider>

  <br/>

  <a href="https://github.com/hackherlin" target="_blank"><span class="accent">@hackherlin</span></a>


</div>
