<mat-toolbar color="primary">
  <span>GH - Explorer</span>

  <span class="fill-space"></span>

  <mat-nav-list class="nav-list" *ngIf="!mobile">
    <mat-list-item routerLink="home" routerLinkActive="active">
      Home
    </mat-list-item>
    <mat-list-item routerLink="search" routerLinkActive="active">
      Search
    </mat-list-item>
    <mat-list-item routerLink="about" routerLinkActive="active">
      About
    </mat-list-item>
    <mat-list-item routerLink="login" routerLinkActive="active">
      Login
    </mat-list-item>
  </mat-nav-list>


  <div *ngIf="mobile">
    <button [matMenuTriggerFor]="menu" mat-icon-button>
      <mat-icon>menu</mat-icon>
    </button>

    <mat-menu #menu="matMenu">
      <button routerLink="home" mat-menu-item>Home</button>
      <button routerLink="search" mat-menu-item>Search</button>
      <button routerLink="about" mat-menu-item>About</button>
      <button routerLink="login" mat-menu-item>Login</button>
    </mat-menu>

  </div>
</mat-toolbar>
