<h1>{{repository.name}}</h1>
<h2>by {{repository.author}}</h2>

<br/>
<br/>

<div class="stats-container">

  <div class="stats-item">
    <mat-icon color="accent" matTooltip="Stars" matTooltipPosition="above">star</mat-icon>
    {{repository.stars}}
  </div>

  <div class="stats-item">
    <mat-icon color="accent" matTooltip="Forks" matTooltipPosition="above">call_split</mat-icon>
    {{repository.forks}}
  </div>

</div>

<br/>
<br/>

<mat-divider></mat-divider>

<br/>

<h2>Description:</h2>
<br/>
<p>{{repository.description}}</p>


<br/>

<mat-divider></mat-divider>

<br/>

<a [href]="repository.url" target="_blank">
  <button mat-flat-button color="accent">Open Repo</button>
</a>
<button mat-flat-button (click)="close()">Close</button>
