<div class="main-container">

  <h1>Welcome to the <span class="accent">GitHub - Explorer! <mat-icon>search</mat-icon></span></h1>

  <br/>

  <mat-divider></mat-divider>

  <br/>

  <!-- Top Repos -->
  <h2>Trending Repositories</h2>

  <div class="loading-div" *ngIf="topReposLoading">
    <mat-spinner color="warn"></mat-spinner>
  </div>

  <div class="repo-container" *ngIf="!topReposLoading">
    <div *ngFor="let topRepo of popularRepos">
      <mat-card class="repo-item">
        <button
          matTooltip="Star this repository!"
          matTooltipPosition="above"
          color="accent" mat-icon-button class="pull-right">
          <mat-icon>star_outline</mat-icon>
          <!--<mat-icon>star</mat-icon>-->
        </button>
        <mat-card-header
          matTooltip="Click to open details!"
          matTooltipPosition="above"
          class="repo-item-header"
          (click)="openRepo(topRepo)"
        >
          <mat-card-title>{{topRepo.name}}</mat-card-title>
          <mat-card-subtitle>{{topRepo.author}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>

          {{ (topRepo.description.length > 100) ? (topRepo.description |
          slice:0:100) + '...' : (topRepo.description) }}

        </mat-card-content>
      </mat-card>
    </div>
  </div>

  <div class="margin"></div>

  <!-- Top JS Repos -->
  <h2>Trending JavaScript Repositories</h2>

  <div class="loading-div" *ngIf="topJavaScriptLoading">
    <mat-spinner color="warn"></mat-spinner>
  </div>

  <div class="repo-container" *ngIf="!topJavaScriptLoading">
    <div *ngFor="let topJavascriptRepo of topJavascriptRepos">
      <mat-card class="repo-item">
        <button
          matTooltip="Star this repository!"
          matTooltipPosition="above"
          color="accent" mat-icon-button class="pull-right">
          <mat-icon>star_outline</mat-icon>
          <!--<mat-icon>star</mat-icon>-->
        </button>
        <mat-card-header
          matTooltip="Click to open details!"
          matTooltipPosition="above"
          class="repo-item-header"
          (click)="openRepo(topJavascriptRepo)"
        >
          <mat-card-title>{{topJavascriptRepo.name}}</mat-card-title>
          <mat-card-subtitle>by {{topJavascriptRepo.author}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content class="repo-content">


          {{ (topJavascriptRepo.description.length > 100) ? (topJavascriptRepo.description |
          slice:0:100) + '...' : (topJavascriptRepo.description) }}

        </mat-card-content>
      </mat-card>
    </div>
  </div>


  <div class="margin"></div>

  <!-- Top Lanugages -->
  <h2>Popular Languages</h2>

  <div class="loading-div" *ngIf="topLangLoading">
    <mat-spinner color="warn"></mat-spinner>
  </div>

  <br/>

  <mat-chip-list>
    <mat-chip *ngFor="let popularLanguage of popularLanguages">
      <mat-chip>{{popularLanguage.name}}</mat-chip>
    </mat-chip>
  </mat-chip-list>

</div>
