<div class="main-container">
  <h1>Ooops, the requested page couldn't be found...</h1>

  <br />

  <h3>Try one of the following:</h3>

  <br />

  <mat-list>
    <mat-list-item>
      <mat-icon>keyboard_arrow_right</mat-icon><a href="home">Home</a>
    </mat-list-item>
    <mat-list-item>
      <mat-icon>keyboard_arrow_right</mat-icon><a href="search">Search</a>
    </mat-list-item>
    <mat-list-item>
      <mat-icon>keyboard_arrow_right</mat-icon><a href="about">About</a>
    </mat-list-item>

  </mat-list>
</div>
