<div class="main-container">

  <h1>Login / Register</h1>

  <br/>

  <mat-divider></mat-divider>

  <br/>

  <div class="text-center">
    <div class="google-login-form">
      <h2>Login with google</h2>

      <br/>

      <button mat-flat-button color="accent" (click)="loginWithGoogle()">Login</button>

      <br/>
      <br/>

    </div>

    <mat-divider></mat-divider>

    <br/>

    <div class="login-form">

      <h2>OR Register with email and password</h2>

      <br />

      <div class="example-container">
        <mat-form-field class="search-form-element" color="accent">
          <input matInput placeholder="Input">
        </mat-form-field>

        <mat-form-field class="search-form-element" color="accent">
          <input matInput placeholder="Input">
        </mat-form-field>

        <mat-form-field class="search-form-element" color="accent">
          <input matInput placeholder="Input">
        </mat-form-field>

        <button mat-flat-button color="accent">Register</button>
      </div>

    </div>
  </div>
</div>
