<div class="main-container">

  <h1>Login / Register</h1>

  <br/>

  <mat-divider></mat-divider>

  <br/>

  <div class="text-center">
    <div class="google-login-form">
      <h2>Login with Google</h2>

      <br/>

      <button mat-flat-button color="accent" (click)="loginWithGoogle()">Login</button>

      <br/>
      <br/>

    </div>

    <mat-divider></mat-divider>

    <br/>

    <div class="login-form">

      <h2>OR Register with email and password (not supported yet...)</h2>

      <br />

      <div class="example-container">
        <mat-form-field class="search-form-element" color="accent">
          <input disabled matInput placeholder="First Name" required>
        </mat-form-field>

        <mat-form-field class="search-form-element" color="accent">
          <input disabled matInput placeholder="Last Name" required>
        </mat-form-field>

        <mat-form-field class="search-form-element" color="accent">
          <input disabled matInput placeholder="E-Mail" required>
        </mat-form-field>

        <br />

        <button disabled class="register-btn" mat-flat-button color="accent">Register</button>

        <p>Already have an account?</p>

      </div>

    </div>
  </div>
</div>
