@import "../../../styles";

.example-container {
  display: flex;
  flex-direction: column;
}

.example-container > * {
  width: 50vw;
}

.result-container {
  width: 80vw;
  display: inline-flex;
  flex-wrap: wrap;
}

@media all and (max-width: 800px) {

  .example-container {
    width: 100vw;


    .search-form-element {
      width: 100vw;
    }

  }

  .result-container {
    width: 100vw;
  }
}

.result-item {
  width: 30vh;
  margin: 30px;
  padding: 20px;
  height: 150px;
}

.result-item-header:hover {
  cursor: pointer;
}
