@import url('https://fonts.googleapis.com/css?family=Roboto');
@import "app/dark-theme.scss";


@include mat-core();
@include angular-material-theme($dark-theme);

* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
}

body {
  background: #303030;
  color: white;
  overflow-x: hidden;
  overflow-y: hidden;
  width: 100%;
}

.fill-space {
  flex: 1 1 auto;
}

.main-container {
  margin: 30px;
  height: 80vh;
  overflow-y: visible;
  overflow-x: hidden;
}

mat-icon {
  font-family: 'Material Icons' !important;
}

.pull-right {
  float: right;
}

.primary {
  color: #263238;
}

.accent {
  color: #ff9800;
}

.warn {
  color: #ff5722;
}

.text-center {
  text-align: center !important;
}

a {
  color: white;
}
